<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <img  width="100%" src="<%= params.project.images[0] %>" />

            </div>
        </div>
        <hr>
        <div class="row">
            <input type="hidden" id="project_id" value="<%= params.project._id %>"/>
            <% if(params.auth_lvl && params.auth_lvl == 3) {%>
            <div class="col-lg-4"><button class="btn btn-primary btn-lg" href="#" role="button" onclick="donate_form();">Donate</button></div>
            <% }%>
            <% if(params.auth_lvl && params.auth_lvl == 2 && params.uid == params.project.owner) {%>
            <div class="col-lg-4"><button class="btn btn-primary btn-lg" href="#" role="button" onclick="project_edit_form('<%= params.project._id %>');">Edit</button></div>
            <% }%>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-10">
                <h1><%= params.project.name %></h1>
                <p><%= params.project.description %></p>
                <hr>
                <% var dateOpt = {month: 'long', day: 'numeric', year: 'numeric'}%>
                <p>Deadline: <%= params.project.targetDate.toLocaleDateString("en-US", dateOpt) %></p>
                <p>Donation Status: <%= params.project.currentSum %>$ of <%= params.project.targetSum %>$</p>
            </div>
        </div>
        <hr>
        <div class="row" style="display: flex; flex-wrap: wrap;">
            <div class="col-lg-12">
                <div class="thumbnail">
                    <iframe width="100%" height="400" src="<%= params.project.video %>" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <hr>
        <div class="row display-flex">
            <% params.project.images.forEach(function(image) { %>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail panel">
                    <img src="<%= image %>" />
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>

